.wall-editor__container {
  flex: 1;
  background: var(--wall-editor__background);
  border-radius: 4px;
}

.wall-editor__container h4 {
  margin: 7px 0;
  text-align: center;
  color: #111;
  font-weight: 400;
}