.editor__container {
  height: 100%;
  width: 100%;
  background: var(--background-color);
  display: grid;
  grid-template-columns: 2fr 6fr 2fr;
  grid-template-rows: auto;
  grid-template-areas:
    "player map cell"
    "output map cell"
    ". preview cell"
    ". preview cell"
    ". preview cell"
    ". preview sky"
    ". preview sky"
    ". preview ."
}