.editor__container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 8fr 3fr;
  grid-template-rows: auto;
  grid-template-areas:
    "world map cell"
    "player map cell"
    ". preview ."
    ". preview output"
}