canvas#raymarcher-main-display {
  outline: 2px solid black;
  box-shadow: 0 14px 15px -12px black;
}

canvas#raymarcher-main-display:focus {
  outline: 2px solid cornflowerblue;
}

canvas#raymarcher-main-display:hover {
  filter: brightness(1.05);
}
