.grid-editor__container {
  grid-area: center;
  /* For now, we'll hard cap the level size */
  overflow: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-editor__row {
  display: flex;
  flex-wrap: nowrap;
}

.grid-editor__cell {
  display: inline-block;
  height: 15px;
  width: 15px;
  border: 1px solid #888;
}

.grid-editor__cell.grid-editor__cell--active {
  filter: drop-shadow(0 0 2px black);
}