.grid-editor__container {
  grid-area: map;
  /* For now, we'll hard cap the level size */
  overflow: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-editor__grid-container {
  /* The canvas overlay will use this */
  position: relative;
  background: white;
  box-shadow: 0 15px 15px -12px #333;
  margin-top: 20px;
}

.grid-editor__row {
  display: flex;
  flex-wrap: nowrap;
}

.grid-editor__cell {
  display: inline-block;
  height: 15px;
  width: 15px;
}

.grid-editor__cell:hover {
  outline: 1px solid #666;
  filter: brightness(0.9);
}

.grid-editor__cell.grid-editor__cell--active {
  filter: drop-shadow(0 0 2px black);
  outline: 1px solid #444;
}

.grid-editor__cell-wall {
  border: 1px solid black;
}