.grid-editor__container {
  grid-area: map;
  /* For now, we'll hard cap the level size */
  overflow: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-editor__tab-container {
  margin-top: 20px;
  height: 30px;
  width: 360px;
  display: flex;
}

.grid-editor__tab {
  display: inline-block;
  width: 50%;
  padding: 5px 0;
  border-radius: 10px 15px 0 0;
}

.grid-editor__tab:first-of-type {
  background: #007d9e;
}

.grid-editor__tab:last-of-type {
  background: #bf0682
}

.grid-editor__tab.active {
  filter: brightness(1.2);
}

.grid-editor__tab-container input {
  display: none;
}

.grid-editor__tab-container label {
  text-align: center;
  color: #DDD;
  filter: brightness(0.4);
}


.grid-editor__tab-container label:hover {
  filter: brightness(1.2);
}

.grid-editor__grid-container {
  /* The canvas overlay will use this */
  position: relative;
  background: white;
  box-shadow: 0 15px 15px -12px #333;
  height: 360px;
  width: 360px;
}

.grid-editor__row {
  display: flex;
  flex-wrap: nowrap;
}

.grid-editor__cell {
  display: inline-block;
  height: 15px;
  width: 15px;
}

.grid-editor__cell:hover {
  outline: 1px solid #666;
  filter: brightness(0.9);
}

.grid-editor__cell.grid-editor__cell--active {
  filter: drop-shadow(0 0 2px black);
  outline: 1px solid #444;
}

.grid-editor__cell-wall {
  border: 1px solid black;
}