.output-editor__container {
  grid-area: output;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.output-editor__container .editor__save-button {
  width: 60%;
  height: 40px;
}