:root {
  --background-color: rgba(75, 75, 75, 0.9);
  --floor-editor__background: rgb(98, 206, 233);
  --wall-editor__background: #e888c8;
  background-image: url('/editor-assets/circles_tile.jpg')
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

.editor__save-button {
  border: 1px solid black;
  padding: 5px;
  margin: 15px;
  font-size: 1.1rem;
  box-shadow: 0 5px 15px -10px #000;
  border-radius: 3px;
}

.editor__save-button:hover {
  box-shadow: 0 10px 15px -10px #000;
  background: #EEE;
}